@page
@model HairdressingSalon.Web.Pages.Admin.Hairdressers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hairdresser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.Fired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.Fired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.IntroduceHtml)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.IntroduceHtml)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.RowVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.ApplicationUser.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hairdresser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
