@page
@model HairdressingSalon.Web.Pages.Admin.Hairdressers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hairdresser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.Fired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.Fired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.ImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.IntroduceHtml)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.IntroduceHtml)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.RowVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.RowVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hairdresser.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hairdresser.ApplicationUser.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hairdresser?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
